{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="form-container2">
    <h2 class="text-center" style="color:#8b5f9e">Add Stories</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="row">
            <div class="form-group col-md-12 mt-3">
                <label for="name">Title</label>
                <input type="text" id="title" name="title" required>
            </div>
            <div class="form-group col-md-12 mt-3">
                <label for="name">Age Group</label>
                <input type="text" id="age_group" name="age_group" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="email">Genre</label>
                <input type="text" id="genre" name="genre" required>
            </div>
            <div class="form-group col-md-12">
                <label for="phone">Moral</label>
                <input type="text" id="moral" name="moral" required>
            </div>
            <div class="form-group col-md-12">
                <label for="story">Story</label>
                <textarea id="story" name="story" class="form-control" rows="4" required></textarea>
            </div>
        </div>

        <button type="submit" class="btn">Submit</button>
    </form>
</div>
{% endblock content %}