{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Dancing+Script&family=Poppins&family=Playfair+Display&family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header>
        <div class="header-container">
            <h1 class="header-title">
                <a href="{% url 'home' %}" style="text-decoration: none; color: inherit;">
                    Nurture Nexus
                </a>
            </h1>            
            <div class="auth-buttons">
                
                {% if request.user.is_authenticated %}
                    
                    <div class="dropdown">
                        <button class="btn small-btn dropdown-btn" id="registerBtn">Emergency Contacts ▼</button>
                        <div class="dropdown-menu">
                            <div class="dropdown-item">
                                <a href="{% url 'view_pediatrician' %}" style="text-decoration:None;"><strong>View Pediatrician</strong></a> <br>
                            </div>
                            <div class="dropdown-item">
                                <a href="{% url 'view_therapist' %}" style="text-decoration:None;"><strong>View Therapist</strong></a> <br>
                            </div>
                        </div>
                    </div>                
                    <a class="btn small-btn" href="{% url 'signout' %}">Logout</a>
                {% else %}
                    <a class="btn small-btn" href="{% url 'login' %}">Login</a>
                    <div class="dropdown">
                        <button class="btn small-btn dropdown-btn" id="registerBtn">Register ▼</button>
                        <div class="dropdown-menu">
                            <a href="{% url 'parent_register' %}" class="dropdown-item">Parent</a>
                            <a href="{% url 'register' %}?role=Pediatrician" class="dropdown-item">Pediatrician</a>
                            <a href="{% url 'register' %}?role=Therapist" class="dropdown-item">Therapist</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </header>
<div class="container-fluid">
    <div class="container">
        <h2 style="text-align: center; margin-bottom: 2rem; ">Welcome Parent</h2>
        <div class="btn-container">
            <a class="btn" href="{% url 'postnatal_care_tips' %}">Need for Parent</a>
            <a class="btn" href="{% url 'search' %}">Need for Child</a>
        </div>
    </div>
</div>

<footer>
    <p>&copy; 2025 Our Platform. All rights reserved.</p>
</footer>
</body>
</html>